@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-left: 6%;
}

.container-navbar{
    display: flex;
    padding-left: 55dvw;
}

.item-navbar{
    padding-left: 4dvw;
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: 16px;
}

header a{
    color: black;
}

ul{
    list-style-type: none;
}

p, a{
    font-family: "Open Sans", sans-serif;
}

.starting-page{
    display: flex;
    align-items: start;
    padding-bottom: 18%;
    padding-left: 6%;
    padding-top: 6%;
}

.main-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-family: "Raleway", serif;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    font-size: 2.6rem;
    margin-top: 5.1rem;
    padding-right: 5rem;
}

.starting-page p{
    font-weight: 500;
    color: hsl(243, 87%, 12%);
    font-size: 1.1rem;
    padding-right: 6rem;
    line-height: 1.4;
}

.first-illustration{
    height: 32vw;
    padding-right: 2%;

}

#email{
    margin-top: 1rem;
    border: 1px hsl(243, 87%, 12%) solid;
    border-radius: 3px;
    height: 3rem;
    width: 21rem;
    padding: 2%;
    margin-right: 10px;
}

.starting-page button{
    background-color: hsl(224, 93%, 58%);
    height: 3rem;
    width: 13rem;
    border-radius: 3px;
    color: white;    
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
}

button:hover{
    cursor: pointer;
}

.second-page h1{
    padding-bottom: 4%;
}

.second-page p:not(.testimonial-text,.testimonial-name,.testimonial-role){
    font-weight: 600;
    font-size: 1rem;
    color: hsl(243, 87%, 12%);
    padding-right: 30%;
    font-family: "open sans", serif;
}

.second-page{
    display: flex;
    align-items: center;
    padding-bottom: 9%;
    padding-left: 6%;
}

.testimonial{
    padding-left: 5%;
    padding-right: 57%;
    margin-top: 5%;
}

.testimonial-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: hsl(243, 87%, 12%);
    padding-top: 5%;
}

.testimonial-profile{
    display: flex;
    gap: 10px;
    padding-top: 5%;
}

.testimonial-icon{
    height: 35px;
    border-radius: 50%;
}

.testimonial-name{
    font-weight: 600;
    font-size: 13px;
    color: hsl(243, 87%, 12%);
}

.testimonial-role{
    font-weight: 500;
    font-size: 11px;
    color: hsl(243, 87%, 12%);
}

.second-illustration{
    height: 29vw;
    margin-top: 40%;
}

.second-page a{
    color: hsl(170, 45%, 43%);
    text-decoration-line: underline;
    text-underline-offset: 5px;
    font-size: 1rem;
    padding-right: 1%;
}

.acess-page{
    background-color: hsl(238, 22%, 44%);
    height: 20vw;
    padding-left: 6%;
    padding-top: 7%;
    padding-bottom: 14%;
    color: hsl(240, 75%, 98%);
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
    font-family: "Raleway", serif;
    padding-right: 6%;
    min-height: 350px;
}

.acess-page h2{
    padding-bottom: 2%;
    font-size: 2rem;
}

.acess-page p{
    padding-right: 5%;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 400;
}

.get-started{
    display: flex;
    flex-direction: column;
}

#text{
    height: 3rem;
    width: 25rem;
    border-radius: 3px;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    margin-bottom: 2%;
}

.acess-page button{
    padding: 2%;
    width: 32%;
    height: 3rem;
    border-radius: 3spx;
    background-color: hsl(224, 93%, 58%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    color: hsl(240, 75%, 98%);
    font-family: "Raleway", serif;
    font-size: 14px;
    font-weight: 600;
}

footer{
    background-color: hsl(243, 87%, 12%);
    padding: 6%;
}
footer a, footer p{
    color: hsl(240, 75%, 98%);

}

.logo-footer{
    width: 15%;
    margin-bottom: 1%;
    filter: brightness(0) invert(1);
}



.contacts{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: baseline;
    justify-content: center;
}

.contact,.about-us,.contact-us{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.phone, .social-media{
    display: flex;
    gap: 20px;
}


.social-media-icons{
    width: 12%;
    filter: invert(1);
    border: 1px black solid;
    border-radius: 50%;
    margin: 8px;
    padding: 6px;
}


.contact img{
    width: 5%;
    height: 5%;
}

@media (max-width: 480px) {

    header img{
        width: 25vw;
        display: block;
    }

    .item-navbar{
    font-size: 3.7dvw;
    }

    .container-navbar{
        padding-left: 15dvw;
    }

    .first-illustration,.second-illustration{
        margin: 0 auto;
        width: 90dvw;
        height: auto;
    }

    .starting-page{
        display: flex;
        flex-flow: row-reverse wrap-reverse;
        text-align: center;
    }
    
    h1{
        font-size: 1.5rem;
        padding-right: 6%;
    }

    .starting-page p{
        font-size: 14px !important;
        padding-right: 6%;
    }

    #email{
        width: 70dvw;
        height: 12dvw;
        margin-bottom: 10px;
    }

    .starting-page button{
        width: 70dvw;
        height: 12dvw;
        font-size: 15px;
        margin-right: 10px;
        margin-bottom: 5rem;
    }

    .second-page{
        flex-flow: row-reverse wrap-reverse;
        text-align: center;
    }

   .second-page h1{
        font-size: 1rem;
   }
   .second-page p:not(.testimonial-text,.testimonial-name,.testimonial-role){
        font-size: 0.8rem !important;
        text-align: start;
        font-weight: 400 !important;
        padding-right: 10%;
   }
   .second-page a{
    font-size: 0.9rem;
   }

   .quotes{
        padding-right: 110px;
   }

   .testimonial-text{
        font-size: 0.7rem !important;
        padding-right: 20%;
        text-align: start;
        width: 300px;
   }

   .testimonial-icon{
    padding-right: 0;
   }

   .testimonial-profile{
    font-size: 12px;
    width: 200px;
    text-align: start;
    padding-top: 20px;
   }

   .contacts{
    display: flex;
    flex-direction: column;
    gap: 40px;
   }

   .logo-footer{
    width: 10rem;
    padding-top: 40px;
    padding-bottom: 30px;
   }

   .contact img{
    width: 8%;
   }

   .social-media{
    justify-content: center;
    gap: 10px;
   }

   .social-media-icons{
    width: 10%;
   }
}

@media (max-width:765px){
   .acess-page{
    height: 100dvw;
    display: flex;
    flex-direction: column;
    text-align: center;
   }

   .acess-page h2{
    font-size: 1.3rem;
    padding-top: 40px;
   }

   .acess-page p{
    font-size: 1rem;
   }

   #text{
    width: 60dvw;
    height: 10dvw;
   }

   .get-acess button{
    width: 60dvw;
    height: 10dvw;
    font-size: 0.8rem;
   }
}

@media (min-width: 480px) and (max-width: 765px) {
    .acess-page{
    max-height: 550px;
    }
}

@media(min-width: 880px) and (max-width: 1350px){
    .container-navbar{
        padding-left: 40vw;
    }
}

@media(min-width: 475px) and (max-width: 880px){
    .container-navbar{
        padding-left: 20vw;
    }
}